@charset "UTF-8";

/*!
Theme Name: Simplicity2 child
Template:   simplicity2
Version:    20161002
*/

/* Simplicity子テーマ用のスタイルを書く */

/*==========================================
    ふきだし
============================================*/

.arrow_answer,
.arrow_question {
    position: relative;
    background: #fff;
    border: 1px solid #c8c8c8;
    border-radius: 10px;
    width:80%;
    font-size: 14px;
    padding:3%;
}

.arrow_question {
    float: right;
}

.arrow_answer:after,
.arrow_answer:before,
.arrow_question:after,
.arrow_question:before {
    top: 30%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_question:after,
.arrow_question:before {
    right: 100%;
}

.arrow_answer:after,
.arrow_answer:before{
     left: 100%;
}

.arrow_answer:after,
.arrow_question:after {
    border-color: rgba(255, 255, 255, 0);
    border-width: 8px;
    margin-top: -8px;
}

.arrow_answer:after{
    border-left-color: #fff;
}

.arrow_question:after{
    border-right-color: #fff;

}

.arrow_answer:before,
.arrow_question:before {
    border-color: rgba(200, 200, 200, 0);
    border-width: 9px;
    margin-top: -9px;
}

.arrow_answer:before{
    border-left-color: #c8c8c8;
}

.arrow_question:before {
    border-right-color: #c8c8c8;
}

.question_image{
     float: left;
     width:15%;
}

.answer_image{
     float: right;
     width:15%;
}

.answer_image img,
.question_image img{
    border-radius: 50px;
    display: block;
    margin: 0 auto;
    max-width: 50px;
    width: 50%;
}

.legend_suiteru {
  background-color: #00A0E9;
  border-radius: 3px;
  text-align: center;
  font-size: 8px;
  color: white;
  padding-top: 1px;
  padding-bottom: 1px;
  margin: 5px;
}
.legend_kininaru {
  background-color: #019c96;
  border-radius: 3px;
  text-align: center;
  font-size: 8px;
  color: white;
  padding-top: 1px;
  padding-bottom: 1px;
  margin: 5px;
}

.legend_konderu {
  background-color: #E4007F;
  border-radius: 3px;
  text-align: center;
  font-size: 8px;
  color: white;
  padding-top: 1px;
  padding-bottom: 1px;
  margin: 5px;
}

.konzatsu_time {
  font-size: 20px;
  color: #ED6C00;
}
.konzatsu_blue {
  font-size: 20px;
  color: #00A0E9;
}

.konzatsu_green {
  font-size: 20px;
  color: #019c96;
}

.konzatsu_red {
  font-size: 20px;
  color: #E4007F;
}

.name {
    text-align: center;
    font-size: 5px;
    padding-left: 10px;
    word-wrap: break-word;
}
.question_Box{
     width: 100%;
     overflow: hidden;
     margin-bottom: 8px;
}
.question_Box:nth-child(even){
     margin-bottom: 25px;
}

.suiteru_tweet {
  background-color: #00A0E9;
  border-radius: 3px;
  text-align: center;
  font-size: 30px;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.kininaru_tweet {
  background-color: #019c96;
  border-radius: 3px;
  text-align: center;
  font-size: 30px;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.konzatsu_tweet {
  background-color: #E4007F;
  border-radius: 3px;
  text-align: center;
  font-size: 30px;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.chart_title {
  background-color: #E4007F;
  border-radius: 3px;
  text-align: center;
  font-size: 30px;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.chart_left {
    width:50% ;
    height: 100%;
    align:center ;
    vertical-align: middle;
    float:left;
    padding-top: 3px;
    padding-bottom: 3px;
}

.chart_right {
    width:30% ;
    height: 100%;
    align:center ;
    vertical-align: middle;
    float: left;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}


.created_time {
    font-size: 5px;
}
